<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Site undergoing maintenance</h1>
    <p>The site is currently undergoing maintenance, but we'll be back soon!</p>
    {{> footer}}
  </body>
</html>
